@import "~react-image-gallery/styles/css/image-gallery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .connectWalletBtn {
    @apply bg-[#0EA7E6] text-white font-bold py-2 px-4 rounded cursor-pointer;
  }

  .headerLink {
    @apply hidden md:inline-flex cursor-pointer;
  }

  .link {
    @apply hover:text-[#0EA7E6] hover:underline cursor-pointer text-gray-600 dark:text-gray-300;
  }

  .card {
    @apply border border-gray-200 dark:border-gray-700 rounded-md shadow-md bg-gray-50 dark:bg-gray-800 cursor-pointer hover:bg-gray-100 p-5;
  }

  .neonBtn {
    @apply relative flex items-center justify-center space-x-4 divide-gray-600 rounded-lg bg-white px-2 py-2 leading-none text-black transition duration-200 hover:text-[#0f5573] dark:bg-black dark:text-white dark:hover:text-[#0EA7E6];
  }

  .h-btn {
    @apply inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-[#080a0b] rounded-lg border border-[#080a0b] outline-none dark:bg-[#0EA7E6] justify-center space-x-2 dark:hover:text-[#080a0b] hover:text-[#0EA7E6];
  }

  h5 {
    @apply text-lg font-medium text-gray-500;
  }
}

/* react-modal */
.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms linear;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.drawer.ReactModal__Content {
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}

.drawer.ReactModal__Content--after-open {
  transform: translateX(0);
}

.drawer.ReactModal__Content--before-close {
  transform: translateX(100%);
}

/* next-themes */
.dark {
  color: #fff;
  background: #080a0b;
}

/* Colors 

[#0EA7E6], [#0f5573], [#17303b]

# */
